/* DinoNode HTML Template - Light Theme */
:root {
    --background: #f8f9fa;
    --dark: #ffffff;
    --light-dark: #f1f3f5;
    --white: #2d3748;
    --light: #4a5568;
    --gray: #718096;
    --blue: #7200ff;
    --green: #20bf6c;
    --red: #fd5c65;
    --pink: #fd5c65;
    --yellow: #fed230;
    --orange: #fb8230;
    --purple: #7200ff;
}

.blue {color: var(--blue);}
.green {color: var(--green);}
.purple {color: var(--purple);}
.orange {color: var(--orange);}
.pink {color: var(--pink);}
.red {color: var(--red);}
.yellow {color: var(--yellow);}

body {
    background: var(--background);
    font-family: "Poppins", sans-serif;
    color: var(--light);
}

.container-custom {max-width: 1260px;}

.navbar-dark {padding: 30px 0;}
.fixed-top.scrolled{
    transition: background-color 200ms linear;
    transition: 0.15s padding ease-out, 0.4s margin ease-out, 0.4s border ease-out;
    padding: 20px 0;
    background: rgba(255, 255, 255, 0.95);
    border-bottom: 1px solid #e2e8f0;
}

.navbar-toggler {border: none !important;box-shadow: none !important;}

.navbar-dark .navbar-brand {font-weight: 500;color: var(--white);}
.navbar-dark .navbar-brand span {font-weight: 800;color: var(--blue);}

.navbar-expand-lg .navbar-nav .nav-link {padding-right: 0.8rem;padding-left: 0.8rem;}
.navbar .navbar-nav .nav-link {
    font-weight: 400;
    font-size: 16px;
    color: var(--white);
    letter-spacing: 0.02rem;
    text-align: center;
}

.navbar .navbar-nav .nav-link:hover, 
.navbar .navbar-nav .nav-link:focus, 
.navbar .navbar-nav .nav-link:active {color: var(--blue);}

.navbar .navbar-nav .btn {
    background: var(--blue);
    border: 1px solid var(--blue);
    color: #ffffff;
    padding: 8px 32px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    margin-left: 20px;
}

.dropdown-menu {
    background: var(--light-dark);
    border: 1px solid #e2e8f0;
    padding: 0.6rem;
}

.dropdown-menu .dropdown-item {
    color: var(--light);
    font-weight: 500;
    font-size: 16px;
    border-radius: 10px;
    padding: 6px 20px;
}

.dropdown-menu .dropdown-item:hover, 
.dropdown-menu .dropdown-item:active, 
.dropdown-menu .dropdown-item:focus {
    color: var(--white);
    background: var(--blue);
}

@media all and (min-width: 992px) {
    .dropdown-large {min-width: 400px;}
}

.dropdown-menu-panel .dropdown-item {
    font-size: 18px;
    color: var(--white);
    font-weight: 500;
}

.dropdown-menu-panel .dropdown-item span {
    color: var(--gray);
    font-size: 15px;
    font-weight: 400;
}

@media (max-width: 992px) {
    .navbar-dark {background: rgba(255, 255, 255, 0.95);}
    .navbar .navbar-nav .nav-link {line-height: 40px;}
    .navbar .navbar-nav .btn {margin-left: 0px;margin-top: 20px;}
}

.hero {
    background: url("../images/hero.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height: 858px;
    max-height: 100%;
    position: relative;
    z-index: 0;
}

.hero:before {
    position: absolute;
    content: "";
    background: url("../images/shadow.webp");
    width: 1085px;
    height: 1211px;
    right: 0;
    z-index: 1;
}

.hero .hero_content {z-index: 2;}
.hero .hero_content h2 {
    color: var(--white);
    font-weight: 800;
    font-size: 50px;
}

.hero .hero_content p {
    color: var(--light);
    font-size: 17px;
    letter-spacing: 0.02rem;
}

.hero .hero_content .btn {
    background: var(--blue);
    border: 1px solid var(--blue);
    color: #ffffff;
    padding: 8px 32px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    transition: all 0.3s ease-out 0s;
}

.hero .hero_content .btn:hover, 
.hero .hero_content .btn:active, 
.hero .hero_content .btn:focus {
    background: transparent;
    border: 1px solid var(--blue);
    color: var(--blue);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(114, 0, 255, 0.4);
    -moz-box-shadow: 0px 0px 10px 0px rgba(114, 0, 255, 0.4);
    box-shadow: 0px 0px 10px 0px rgba(114, 0, 255, 0.4);
}

@media (max-width: 1400px) {.hero {background-position: 60%;}}
@media (max-width: 1200px) {.hero {background-position: 80%;}}
@media (max-width: 992px) {.hero {background-position: 70%;height: 800px;}}
@media (max-width: 768px) {.hero {background-position: 60%;height: 700px;}}
@media (max-width: 576px) {
    .hero {background-position: 70%;}
    .hero .hero_content {text-align: center;}
    .hero .hero_content h2 {font-size: 40px;}
    .hero .hero_content p {font-size: 15px;}
}

.title {position: relative;z-index: 2;}
.title h4 {
    color: var(--white);
    font-weight: 600;
    font-size: 30px;
}

.title p {
    color: var(--light);
    letter-spacing: 0.02rem;
    font-size: 18px;
    font-weight: 300;
}

.features {position: relative;z-index: 2;}
.features .features-box {
    color: var(--light);
    background: var(--dark);
    padding: 20px;
    border-radius: 10px;
    transition: all 0.3s ease-out 0s;
    border: 1px solid #e2e8f0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.features .features-box:hover {
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}

.features .features-box h2 {
    color: var(--white);
    font-weight: 600;
    font-size: 26px;
}

.features .features-box p {font-size: 15px;}

.minecraft {
    background: url("../images/minecraft_bg.webp");
    position: relative;
    clear: both;
    overflow: hidden;
}

.minecraft .minecraft_content {z-index: 2;}
.minecraft .minecraft_content h2 {
    color: var(--white);
    font-weight: 600;
}

.minecraft .minecraft_content p {color: var(--light);}

.minecraft .minecraft_content .btn {
    background: var(--blue);
    border: 1px solid var(--blue);
    color: #ffffff;
    padding: 8px 42px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
}

.minecraft .minecraft_img {position: relative;}
.minecraft .minecraft_img img {
    position: relative;
    bottom: -24px;
    margin-left: auto;
    float: right;
}

.map, .map .map_img {position: relative;}
.map_box {
    background: var(--dark);
    padding: 12px 16px;
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    border: 1px solid #e2e8f0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.map .germany {left: 53%;top: 42%;}
.map .finland {left: 45%;top: 27%;}

@media (max-width: 1400px) {.map .finland {left: 41%;}}
@media (max-width: 1100px) {.map .germany {top: 43.5%;}}
@media (max-width: 992px) {
    .map .finland {left: 39%;top: 31%;}
    .map .germany {left: 49%;top: 45.5%;}
}
@media (max-width: 768px) {
    .map .finland {left: 34%;top: 34%;}
    .map .germany {left: 49%;top: 49.5%;}
}
@media (max-width: 720px) {
    .map .germany {margin-bottom: 10px !important;}
    .map .germany, .map .finland {
        position: relative;
        left: 0;
        right: 0;
        top: 0;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}

.panel {
    background: var(--dark);
    position: relative;
    z-index: 1;
    overflow: hidden;
    clear: both;
    border: 1px solid #e2e8f0;
}

.panel:before {
    z-index: -1;
    content: "";
    position: absolute;
    width: 600px;
    height: 286px;
    left: 0;
    background: var(--light-dark);
    border-radius: 0px 20px 20px 0px;
}

.panel .panel_content h2, 
.ddos .ddos_content h2 {
    color: var(--white);
    font-weight: 600;
}

.panel .panel_content ul {list-style: none;padding: 0;}
.panel .panel_content ul li {line-height: 36px;font-size: 17px;color: var(--light);}
.panel .panel_content ul li i {color: var(--blue);}

@media (max-width: 992px) {.panel:before {height: 280px;}}
@media (max-width: 768px) {
    .panel img, .ddos img, .os h4 {margin-bottom: 30px;}
    .panel:before {opacity: 0;}
}

.ddos {clear: both;overflow: hidden;}

.review .card {
    background: var(--dark);
    border: 1px solid #e2e8f0;
}
.review .card .reviews_star {
    display: flex;
    position: relative;
    top: -10px;
}

.review .card .reviews_star img {
    width: 24px;
    height: 24px;
    margin: 4px;
    border-radius: 6px;
}

.review .card .reviews_star img:first-child {margin-left: 0 !important;}
.review .card h3 {
    color: var(--white);
    font-size: 24px;
}

.review .card p {font-size: 15px;color: var(--light);}
.review .card a {
    float: right;
    text-decoration: none;
    color: var(--white);
}

.review .card a i {color: var(--blue);}
.review .reviews_footer h3 {
    color: var(--light);
    font-size: 18px;
    font-weight: 400;
}

.review .reviews_footer img {width: 100%;height: 24px;}

footer {
    background: var(--dark);
    border-top: 1px solid #e2e8f0;
}
footer h3 {font-weight: 500;color: var(--white);}
footer h3 span {font-weight: 800;}
footer h4 {
    color: var(--white);
    font-size: 20px;
    font-weight: 500;
}

footer ul {padding: 0;list-style: none;}
footer ul li {line-height: 30px;}
footer ul a {color: var(--light);text-decoration: none;}

@media (max-width: 768px) {footer {text-align: center;}}

.header {
    padding-top: 150px;
    padding-bottom: 100px;
}

.header h2 {
    color: var(--white);
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.01rem;
    font-size: 40px;
}

@media (max-width: 768px) {
    .minecraft-h, .fivem-h, .csgo-h, .rust-h, .ark-h, .vps-h, .partners-h, .legal-h {background-position: 36% !important;}
}

@media (max-width: 576px) {
    .minecraft-h, .fivem-h, .csgo-h, .rust-h, .ark-h, .vps-h, .partners-h, .legal-h {background-position: 46% !important;}
}

.minecraft-h {background: url("../images/hero/minecraft.webp");}
.fivem-h {background: url("../images/hero/fivem.webp");}
.csgo-h {background: url("../images/hero/csgo.webp");}
.rust-h {background: url("../images/hero/rust.webp");}
.ark-h {background: url("../images/hero/ark.webp");}
.vps-h {background: url("../images/hero/vps.webp");}
.partners-h {background: url("../images/hero/partners.webp");}
.legal-h {background: url("../images/hero/legal.webp");}

#swicherPlans {margin-bottom: 6rem !important;}
#swicherPlans .nav-item .nav-link {
    background: transparent;
    border: 1px solid var(--blue);
    color: var(--white);
    padding: 6px 24px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;
    margin: 0 4px;
}

#swicherPlans .nav-item .active {background: var(--blue);color: #ffffff;}

.plans .card {
    background: var(--dark);
    border-radius: 10px;
    border: 1px solid #e2e8f0;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
}

.plans .mc-card {margin-bottom: 90px !important;}
.plans .card .plan-icons {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 140px;
    height: 140px;
    position: absolute;
    top: -70px;
}

.plans .card .card-header {
    background: transparent;
    border: none;
}

.plans .mc-card .card-header {margin-top: 4rem !important;}
.plans .card .card-header h2 {
    font-weight: 700;
    color: var(--white);
}

.discord .card-header {
    padding: 40px !important;
    background: url('../images/discord.png') no-repeat !important;
    background-size: cover !important;
    background-position: right bottom !important;
}

.plans .card .card-price {
    background: var(--blue);
    color: #ffffff;
    font-weight: 700;
    font-size: 24px;
}

.plans .card .card-price span {
    font-weight: 500;
    font-size: 17px;
    color: #e2e8f0;
}

.discord .card-price {border-radius: 10px;}
.plans .card .card-body ul li {font-size: 20px;line-height: 42px;color: var(--light);}
.plans .card .card-body ul li i {
    color: var(--blue);
    margin-right: 2px;
}

.plans .card .card-body a {
    background: var(--blue);
    border: 1px solid var(--blue);
    color: #ffffff;
    padding: 8px 32px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
}

#servertypes img {
    max-width: none;
    text-align: center;
    margin: 0 auto;
    height: 50px;
    width: unset;
}

.plans table {
    border: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
    color: var(--light);
}

.plans table tbody tr {
    background: var(--dark);
    border-color: #e2e8f0;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.05);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    margin-bottom: 20px !important;
    border: 1px solid #e2e8f0;
}

.plans table tr:hover {
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
}

.plans table tbody tr td {
    padding: 20px 15px;
    font-size: 14px;
    text-align: center;
}

.plans table tbody tr td h2 {
    text-transform: uppercase;
    font-size: 24px;
    color: var(--white);
    font-weight: 900;
}

.plans table tbody tr td .card {
    background: var(--light-dark);
    border-color: #e2e8f0;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.05);
    padding: 10px;
    transition: all 0.3s ease 0s;
    margin-bottom: 0 !important;
}

.plans table tbody tr td .card .price {
    text-align: center;
    margin: 0 auto;
    color: var(--white);
    font-size: 20px;
    font-weight: 900;
}

.plans table tbody tr td .card .price span {
    font-size: 14px;
    font-weight: 400;
    color: var(--light);
}

.plans table tbody tr td .card .btn {
    font-size: 14px;
    font-weight: 600;
    background: var(--blue);
    color: #ffffff;
    border-radius: 10px;
    padding: 6px 24px;
}

@media screen and (max-width: 800px) {
    .plans table {border: 1px solid #e2e8f0;box-shadow: none;}
    .plans table thead {display: none;}
    .plans table tbody tr {
        padding: 20px;
        margin-bottom: 20px !important;
        display: block;
    }
    .plans table tbody tr td:before {
        float: left;
        font-size: 10px;
        text-transform: uppercase;
        font-weight: 700;
    }
    .plans table tbody tr td {
        display: block;
        font-size: 14px;
        padding: 10px 10px !important;
        text-align: center;
    }
    .plans table tbody tr td .card {padding: 10px 10px;}
    .plans table tbody tr td .card .price {margin-bottom: 10px;}
    .plans table tbody tr td .card .btn {display: block;}
}

.os img {width: 80px;height: 80px;}
.os h4 {
    color: var(--white);
    font-weight: 600;
}

.partners {margin-top: 60px;}
.partners .card {
    margin-bottom: 80px;
    background: var(--dark);
    border: 1px solid #e2e8f0;
}
.partners .card .partner-img {
    width: 120px !important;
    height: 120px !important;
    margin-top: -60px;
    margin-left: auto;
    margin-right: auto;
}

.partners .card .card-body h3 {
    color: var(--white);
    font-weight: 700;
}

.partners .card .card-body ul li {display: inline-block;margin: 6px;}
.partners .card .card-body ul li i {font-size: 26px;}

.fa-youtube {color: #ff0000;}
.fa-twitter {color: #1da1f2;}
.fa-facebook {color: #4267b2;}
.fa-instagram {color: #bc2a8d;}
.fa-discord {color: #7289da;}
.fa-twitch {color: #6441a5;}
.fa-globe {color: #4a4a77;}

.legal h2 {
    color: var(--white);
    font-weight: 600;
}

.ddosa1{fill:none;stroke:#e2e8f0}
.ddosa1,.ddosa2,.ddosa3{stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10}
.ddosa2{fill:none;stroke:#e2e8f0}
.ddosa3{stroke:#7200ff;stroke-width:4;fill:#7200ff}

/* Features */
.ssd-drive {fill: #7200ff;}
.firewall {fill: #fd5c65;}
.setup {fill: #20bf6c;}
.guranteed {fill: #fed230;}
.cpu {fill: #7200ff;}
.support {fill: #fed230;}